/* variables globales */
:root {
    --primario: #FFB100;
    --primariosec: #FBC252;
    --claro: #F0ECCF;
    --contraste: #829b77;
    --blanco: #ffffff;
    --oscuro: #464545;
    --gris: #afafaf;
    --forms: #f2f2f2;
}

/* variables Generales */
html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: var(--claro);
}

h4 {
    font-size: 20px;
    font-weight: bold;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

/* variables del Header */
.header {
    background-color: var(--primario);
}

.header img {
    width: 250px;
    height: auto;
}

.headerContainer {
    padding: 0 10%;
}

.menu {
    flex-grow: 0;
}

.menu a {
    margin: 6px;
}

.lista:hover {
    background-color: var(--primariosec);
}

/* Estilos para la seccion del centro, el contenido */
section {
    min-height: calc(100vh - 100px);
}

/*Solo contempla el carrousel*/
.carrousel {
    margin: 0 0 2.5rem 0;
}

.carrousel img {
    object-fit: cover;
    height: 500px;
}

.carousel-text {
    position: absolute;
    bottom: 1.25rem;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
}

.carousel-text h5 {
    color: var(--primario);
    font-size: 70px;
    font-weight: bold;
    padding-right: 50%;
    margin-bottom: 10px;
}

.carousel-text p {
    color: var(--blanco);
    font-size: 25px;
    font-weight: bold;
}

/*El resto del contenido*/
.maincontainer {
    margin: 0 0 5rem 0;
}

.maincontainer h3 {
    margin: 2.5rem 0;
    padding: 2.5rem 30%;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: var(--contraste);
}

.productos {
    margin-top: 3.5rem;
    padding: 2.5rem;
    background-color: var(--contraste);
}

.productos h4 {
    font-size: 25px;
    /* font-weight: bold; */
    color: var(--claro);
}

.flex-container-Productos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.flex-container-Productos>div {
    width: 18rem;
    margin: 2.5rem;
}

.imagen {
    object-fit: cover;
    height: 500px;
}

.botones {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.nosotroscontainer {
    background-color: var(--contraste);
}

.container2 {
    width: 100%;
    padding: 0 var(--bs-gutter-x, .75rem) 0 0;
    /* padding-left: var(--bs-gutter-x,.75rem); */
    margin-right: auto;
    margin-left: auto;
}

.card:hover {
    transform: scale(1.05);
}

.nosotroscontainer img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.centadonosotros {
    margin: 5%;
    padding: 5%;
}

.centadonosotros h4 {
    font-size: 30px;
    color: var(--claro);
    margin: 0 0 30px;
}

.centadonosotros p {
    color: var(--blanco);
}

/* Estilos para el footer */
.footerContainer {
    padding: 10px 10%;
}

.footer {
    background-color: var(--oscuro);
    color: var(--blanco);
    padding: 30px 0 0 0;
}

footer h4 {
    margin-bottom: 20px;
}

.parrafo {
    color: var(--gris);
    margin: 0 30px 30px 30px;
    text-align: justify;
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer ul li {
    margin-bottom: 17px;
    margin-left: 25px;
}

footer ul li a {
    color: var(--gris);
    text-decoration: none;
}

footer ul li a:hover {
    color: var(--primario);
}

footer .text-center {
    text-align: center;
    margin-top: 30px;

    font-size: 14px;
    color: var(--gris);
}


@media (max-width: 500px) {
    .header img {
        width: 150px;
    }
}

@media (max-width: 350px) {
    .header img {
        width: 100px;
    }
}


/*Daniel*/
.containercontactenos {
    /* background-color: gray; */
    padding-bottom: 2.5rem;
}

.containercontactenos2 {
    /* background-color: gray; */
    margin: 0 30px;
    padding-top: 5px;
}

.contactenos {
    margin-top: 3.5rem;
    padding: 0 2.5rem;

    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.formcontactenos {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: var(--forms);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.form-row1 {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.form-row2 {
    display: grid;
    grid-template-columns: 100%;
    padding: 5px;
    margin-left: 20px;
    margin-right: 20px;
}

.form-row3 {
    display: flex;
    justify-content: space-evenly;
}

.form-col {
    display: grid;
    grid-template-rows: 50% 50%;
    padding: 5px;
}

.contactenos h3 {
    display: flex;
    justify-content: center;
    align-self: center;
}

.contactenos h2 {
    display: flex;
    justify-content: center;
    align-self: center;
    padding-top: 20px;
}

.contactenos button {
    padding: 0.5rem 1rem;
    width: 40%;
    color: #000;
    background-color: #ffc107;
    border-color: #ffc107;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}



.contactenos button:hover {
color: #000;
    background-color: #ffca2c;
    border-color: #ffc720;
}

.contactenos button:hover {
    background-color: #005b8f;
}

.contactenos input {
    border-radius: 7px;
}

.contactenos input:invalid {
    border: 2px dashed red;
}

.contactenos input:valid {
    border: 2px solid black;
}

.contactenos textarea {
    border-radius: 25px;
    min-height: 217px;
}

.contactenos textarea:invalid {
    border: 2px dashed red;
}

.contactenos .hidden {
    opacity: 0;
    transition: all 2s
}

.contactenos .show {
    opacity: 1;

}

/* Estilos para carrito.php */
.carrito {
    margin-top: 3.5rem;
    padding: 2.5rem;
    background-color: var(--contraste);
}

.carrito h3 {
    font-size: 25px;
    color: var(--claro);
    margin-bottom: 1.5rem;
}

.carrito ul {
    list-style-type: none;
    padding: 0;
}

.carrito li {
    background-color: var(--forms);
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.carrito li span {
    font-size: 16px;
    color: var(--claro);
}